{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title> Edit student </title>
{% endblock  %}


{% block subheader %}
<header>Edit students</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="button" class="btn btn-outline-dark" value="List of students" onClick='location.href="{% url 'students:list' %}"'/>
        <input class="btn btn-outline-dark" formaction="{% url 'students:delete' student.uuid_code %}" type="submit" value="Delete">
        <input class="btn btn-outline-dark" type="submit" value="Save">
    </form>
{% endblock %}
