{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title> Create student </title>
{% endblock  %}


{% block subheader %}
<header>Create students</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="button" class="btn btn-outline-dark" value="List of students" onClick='location.href="{% url 'students:list' %}"'/>
        <input type="submit" class="btn btn-outline-dark" value="Create">
    </form>
{% endblock %}
