{% extends 'base.html' %}

{% block title %}
    <title> Student list </title>
{% endblock  %}

{% block subheader %}
<header>Filter students</header>
{% endblock  %}

{% block content %}
    <form>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">First name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter first name" name="first_name"
                   aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Last name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter last name" name="last_name" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Rating:</span>
            </div>
            <input type="number" class="form-control" placeholder="Enter rating" name="rating" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

      <input type="button" class="btn btn-outline-dark" value="Create" onClick='location.href="{% url 'students:create' %}"'/>
      <input type="button" class="btn btn-outline-dark" value="Generate" onClick='location.href="{% url 'students:generate' %}"'/>
      <input type="submit" class="btn btn-outline-dark" value="Search"><p><hr>

        <h5>All list of students: </h5><p>

    </form>

<!--{{students|safe}}-->

{% include 'includes/students-table.html' %}

{% endblock %}

