{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title> Edit groups </title>
{% endblock  %}


{% block subheader %}
<header>Edit groups</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}
        <input type="button" class="btn btn-outline-dark" value="List of groups" onClick='location.href="{% url 'groups:list' %}"'/>
        <input type="button" class="btn btn-outline-dark" value="Delete" onClick='location.href="{% url 'groups:delete' group.id %}"'/>
        <input type="submit" class="btn btn-outline-dark" value="Save">
    </form>

    {% include 'includes/students-table.html' %}

{% endblock %}
