{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title> Create groups </title>
{% endblock  %}


{% block subheader %}
<header>Create groups</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

         <input type="button" class="btn btn-outline-dark" value="List of groups" onClick='location.href="{% url 'groups:list' %}"'/>
        <input type="submit" class="btn btn-outline-dark" value="Create">
    </form>
{% endblock  %}