{% extends 'base.html' %}

{% block title %}
    <title> Groups list </title>
{% endblock  %}

{% block subheader %}
<header>Filter groups</header>
{% endblock  %}

{% block content %}
    <form>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Group name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter group name" name="name" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Members:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter members" name="members" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Rating:</span>
            </div>
            <input type="number" class="form-control" placeholder="Enter rating" name="rating" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>


      <input type="button" class="btn btn-outline-dark" value="Create" onClick='location.href="{% url 'groups:create' %}"'/>

      <input type="submit" class="btn btn-outline-dark" value="Search"><p><hr>

        <h5>All list of groups: </h5><p>

    </form>

<!--{{students|safe}}-->

{% include 'includes/groups-table.html' %}

{% endblock  %}
