{% if groups %}

<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Name</th>
        <th>Members</th>
        <th>Rating</th>
        <th>Teacher name</th>
        <th>Teacher surname</th>
    </tr>
    </thead>
    {% for group in groups %}

    <tr>
        <td><input type="button" class="btn btn-outline-dark" value="Edit" onClick='location.href="{% url 'groups:edit' group.id %}"'/></td>
<!--       <td> <a href="{% url 'groups:edit' group.id %}" >EDIT&ndash;&gt;</a></td>-->
       <td> {{ group.id }}</td>
       <td>{{ group.name }}</td>
       <td>{{ group.members }}</td>
       <td>{{ group.rating }}</td>
       <td>{{ group.teacher.first_name }}</td>
       <td>{{ group.teacher.last_name }}</td>

    </tr>
    {% endfor %}


</table>
{% else %}
<p> List is empty </p>
{% endif %}

{% include 'includes/pagination.html' %}