{% if students %}

<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Rating</th>
        <th>Name of groups</th>
        <th>Rating of groups</th>
    </tr>
    </thead>

    {% for student in students %}
    <tr>
        <td><input type="button" class="btn btn-outline-dark" value="Edit" onClick='location.href="{% url 'students:edit' student.uuid_code %}"'/></td>

<!--       <td> <a href="{% url 'students:edit' student.uuid_code %}" >EDIT&ndash;&gt;</a></td>-->
       <td> {{ student.id }}</td>
       <td>{{ student.first_name }}</td>
       <td>{{ student.last_name }}</td>
       <td>{{ student.email }}</td>
        <td>{{ student.phone_number }}</td>
       <td>{{ student.rating }}</td>
       <td>{{ student.group.name }}</td>
       <td>{{ student.group.rating }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<p> List is empty </p>
{% endif %}

{% include 'includes/pagination.html' %}