{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title> logout </title>
{% endblock  %}


{% block subheader %}
<header>User is logged out </header>
{% endblock  %}


{% block content %}
        <a class="btn btn-outline-dark" href="{% url 'accounts:login' %}">Log in</a>
        <a class="btn btn-outline-dark" href="{% url 'core:index' %}">Home</a>
{% endblock %}
