{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Create teacher</title>
{% endblock  %}


{% block subheader %}
<header> Create teacher</header>
{% endblock  %}


{% block content %}

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

         <input type="button" class="btn btn-outline-dark" value="List of teachers" onClick='location.href="{% url 'teachers:list' %}"'/>
        <input type="submit" class="btn btn-outline-dark" value="Create">
    </form>
{% endblock  %}