{% extends 'base.html' %}


{% block title %}
    <title> Teachers list </title>
{% endblock  %}


{% block subheader %}
<header> Teachers list</header>
{% endblock  %}


{% block content %}
    <form>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">First name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter first name" name="first_name"
                   aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Last name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter last name" name="last_name" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Place of work:</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter place of work" name="job" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>


      <input type="button" class="btn btn-outline-dark" value="Create" onClick='location.href="{% url 'teachers:create' %}"'/>
      <input type="submit" class="btn btn-outline-dark" value="Search"><p><hr>

        <h5>All list of teachers: </h5><p>

    </form>

<!--{{students|safe}}-->
{% if teachers %}

<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Place of work</th>
    </tr>
    </thead>
    {% for teacher in teachers %}
    <tr>
       <td><input type="button" class="btn btn-outline-dark" value="Edit" onClick='location.href="{% url 'teachers:edit' teacher.id%}"'/></td>
<!--       <td> <a href="{% url 'teachers:edit' teacher.id %}" >EDIT&ndash;&gt;</a></td>-->
       <td> {{ teacher.id }}</td>
       <td>{{ teacher.first_name }}</td>
       <td>{{ teacher.last_name }}</td>
       <td>{{ core.age }}</td>
       <td>{{ teacher.job }}</td>
    {% endfor %}
    </tr>
</table>
{% else %}
<p> List is empty </p>
{% endif %}

{% include 'includes/pagination.html' %}
{% endblock  %}
