{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Edit teacher</title>
{% endblock  %}


{% block subheader %}
<header> Edit teacher</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="button" class="btn btn-outline-dark" value="List of teachers" onClick='location.href="{% url 'teachers:list' %}"'/>
        <input type="button" class="btn btn-outline-dark" value="Delete" onClick='location.href="{% url 'teachers:delete' teacher.id %}"'/>
        <input type="submit" class="btn btn-outline-dark" value="Save">
    </form>

{% include 'includes/groups-table.html' %}

{% endblock  %}


