{% extends 'base.html' %}


{% block title %}
    <title>Delete</title>
{% endblock  %}


{% block subheader %}
<header>Do you want to delete?</header>
{% endblock  %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        <input type="submit" class="btn btn-outline-dark" value="Yes" />
        <input type="button" class="btn btn-outline-dark" value="No" onClick='location.href="../"'/>

    </form>
{% endblock  %}
