{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block link %}

{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

<head>
    {% block title %}
        <title> Home page </title>
    {% endblock %}
</head>

{% block navbar %}
{% endblock %}

{% block header %}
    <header> Home page</header>
{% endblock %}

{% block content %}

<body>
    <div><br>
        <a href="{% url 'students:list' %}">Students list</a><br>
        <a href="{% url 'teachers:list' %}">Teachers list</a><br>
        <a href="{% url 'groups:list' %}">Groups list</a><br>
     </div>

{% endblock  %}
</body>
</html>





