
body {
background: white;
background-image: url('../images/forest.jpg');
background-repeat: no-repeat;
background-color: #cccccc;
min-height: 100%;
background-position: centre;
background-size: cover;
moz-background-size: 100%;
webkit-background-size: 100%;
o-background-size: 100%;
background-size: 100%;
}

a {
text-decoration:none;
color: #00FF00;
text-shadow: 1px 1px 25px black;
font-size: 40px;
}


div {
text-align: center;
}

header {
    text-align: center;
    font-size: 44px;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;
}


